<div class="content-wrapper">

    <div class="content-block">

    <% (1..10).each do |i| %>


        <div class="content">
            <div class="user-about">

                <div class="image">
                    <%= image_tag  "ninja.jpg"%>
                </div>

                <div class="profile">

                    <div class="name-history">
                        <div class="name">
                            ゆーじ
                        </div>

                        <div class="learning-history">
                            学習歴：１年未満
                        </div>
                    </div>

                    <div class="purpose">
                        目的：Ruby on Rails, docker, heroku技術の習得
                    </div>

                </div>
            
            </div>

            <div class="text">
                <p>これはサンプルテキストです</p>
                <p>これはサンプルテキストです</p>
            </div>

            <div class="action-menu">
                <div class="like"></div>
                <div class="comment"></div>
            </div>
        </div>

    <% end %>
    </div>


    <div class="sidebar">
        <div class="box">

        </div>


        <div class="box">

        </div>

    </div>
</div>



<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
